@page
@model Taller.App.Front.Pages.LoginModel
@{
}

<div class="card clsCard" style="width: 18rem">
    <div clas="card-body">
 <h1 id="idTituloLogin">@Model.tituloLogin</h1>
<div id="idContenedorCampos">
       
                  <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">usuario</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">contraseña</label>
            <Input type="password" class="form-control" id="exampleFormControlInput2" 
        </div>
        <div>
        <button type="button" class="btn btn-info">Iniciar Sesion</button>
    </div>
    </div>
</div>
</div>